/**
 * Box Sizing
 */
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: 0.2s;
}

/**
 * Base
 */
html {
  font-size: 62.5%;


  background: #f4f4f4;

  overflow-y: scroll;

  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  font: 300 13px/1.6 'Helvetica Neue', Arial, sans-serif;
  color: #444;
  position: relative;

  height: 100%;

  margin: 0;
  padding: 0;
}

img {
  & a {
    border: 0;
  }
  vertical-align: bottom;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
button {
  outline: 0;
}
input {
  border: none;
  background: #fff;
  font-size: 13px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  box-shadow: 1px 1px 3px 1px #ccc;
}
.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1288px;
  margin: 0 auto;
  position: relative;
}
p {
  margin: 0;
}
.relative {
  position: relative;
}

/**
 * Headings
 */
h1, .alpha {
  // @extend %heading;
  font-size: 18px;
  margin: 25px 0;
}
h2, .beta {
  // @extend %heading;
  font-size: 20px;
  margin: 15px 0;
}
h4, .delta {
  // @extend %heading;

}


.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }

}

.flag__image {
  padding-right: 10px;

  > img {
    display: block;
    max-width: none;
  }

  .flag--rev & {
    padding-right: 0;
    padding-left: 10px;
  }

}

.flag__body {
  width: 100%;
}
