<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Ryan Clark</title>

    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>

    <aside class="sidebar">
      <header class="sidebar__header">
        <a href="/" class="me">
          <img src="/img/me.jpeg" />
        </a>
        <a href="/" class="main__logo"></a>
      </header>

      <nav class="sidebar__navigation">
        <a href="https://twitter.com/rynclark" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @rynclark</a>

        <div class="about__me">
          Front-end developer <a href="http://twitter.com/appsbroker" target="_blank">@appsbroker</a>
        </div>

        <ul class="sidebar__navigation--list">
          <li>
            <a href="/">Posts</a>
          </li>
          <li>
            <a href="https://github.com/rynclark" target="_blank">GitHub</a>
          </li>
        </ul>
      </nav>
    </aside>

    <section class="content">

      {{ content }}

    </section>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </body>
</html>
